@model MyWebsite.Core.Models.Topic
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Let try your best</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>@Model.TopicTitle</h1>
                <div class="content_wrapper">
                    <div class="content">
                        @Html.Action("GetQuestionByTopic", "HomeMember")
                    </div>
                    @*<h3 class="title">Nhận xét</h3>
                    <div id="show">
                        @Html.Action("Comment", "Home", new { id = Model.Id })
                    </div>
                    <div class="content">
                        <div class="feedeback">
                            <h5>Thêm bình luận</h5>
                            <input type="hidden" value=@Model.Id id="lessonid" />
                            <label>Tên của bạn</label>
                            <input name="UserComment" class="form-control" id="UserComment" />
                            <label>Nội dung</label>
                            <input name="CommentContent" class="form-control" id="CommentContent" />
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->
