@using MyWebsite.Core.Models
@model IEnumerable<MyWebsite.Core.Models.Grammar>

@foreach (var item in Model)
{
    <h2 class="text-center" style="color:coral">@item.GrammarShortDescription</h2>
    <b>@item.GrammarDescription</b> 
}

