@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết.</h2>
<div class="container mt-5">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0 text-center">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                Tên quyền
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                    </div>
                    <h4>Danh sách tài khoản có quyền này</h4>
                    @if (ViewBag.UserCount == 0)
                    {
                        <p>Không có tài khoản nào có quyền  này</p>
                    }

                    <table class="table">

                        @foreach (var item in ViewBag.Users)
                        {
                            <tr>
                                <td>
                                    @item.UserName
                                </td>
                            </tr>
                        }
                    </table>
                    <p>
                        @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                        @Html.ActionLink("Trở về danh sách", "Index")
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

