<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright:
        <a href="https://www.nhk.or.jp/lesson/vietnamese/"> NHK WORLD</a>
    </div>
    <!-- Copyright -->

</footer>