@*<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <img src="~/Content/Images/logo.png" class="navbar-brand" width="50"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/About">Về chúng tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/Home/Contact">Liên hệ</a>
            </li>
            @if (Request.IsAuthenticated && User.IsInRole("Members"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "HomeMember", new { Area = "Members" })">Khóa học của tôi</a>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("Manager"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Actors", "Admin", new { Area = "Admin" })">Đi đến quản lí</a>
                </li>
            }
        </ul>
        <form class="form-inline my-2 my-lg-0">
            @Html.Partial("_LoginPartial")
          
        </form>
    </div>
</nav>*@